// Home Page

// Hero Unit
.hero

  height 300px
  padding-top 120px
  border-bottom solid 1px lighten(color_teal_dark, 10%)

  background linear-gradient(top, darken(color_teal_dark, 10%), color_teal_light)

  color color_white
  text-align center

.hero h1
  font-size 48px

.leading
  font-size 24px

// Table of Contents
.table-of-contents
  max-width 980px

  margin-top 80px
  margin auto

  h1
    text-align center
    font-variant small-caps
