// Main Styles
// -----------

// Variables

// Colors
color_teal_dark  = #1693A5
color_teal_light = #00CDAC
color_sand       = #E9E0D1
color_white      = #fff

// Imports
@import '../../node_modules/nib'
@import './home.styl'


// Resets
// global-reset()

body
  margin 0
  font-family 'Helvetica Neue', Helvetica, sans-serif
  background-color color_sand
  color darken(color_sand, 80%)
