// Main Styles
// -----------

// Imports
@import '../../node_modules/nib'
@import './variables.styl'
@import './home.styl'

body
  margin 0
  font-family font_family
  background-color color_grey_light
  color color_grey_dark
