// Variables
// ---------

// Colors
color_teal_dark   = #1693A5
color_teal_light  = #00CDAC

// Greyscale
color_white       = #fff
color_grey_light  = #e9e9e9
color_grey_medium = #777
color_grey_dark   = #333

// Fonts
font_family = 'Helvetica Neue', Helvetica, sans-serif
